.main {
    background-image: url('../imgs/background.png');
    background-repeat: no-repeat;
    background-size: 100% 20%;
    margin: 0;
}

  .section-container, h1 {
    font-family: 'Nordea Sans Small Web Light', Fallback, sans-serif;
    margin-left: 10px;
    margin-top: 20px;
    color: #fff;
  }

  h1 {
      margin-top: 90px;
  }

  .section {
      margin-right: 20px;
  }

  .card-title {
    margin-left: -15px;
    margin-top: 10px; 
    margin-bottom: 20px; 

}

.card-plan {
    border-radius: 10px;
    border: none;
    box-shadow: none;
    margin: 0 5px 20px;
}


.currency {
    margin-top: 40px;
    margin-left: -10px;

}

.statistics {
  margin-top: 20px;
}

.data {
  border-left: 2px solid #00075A;
  height: 50px;
}

.data-item {
  font-size: 22px;
  font-weight: 500;
}

.data-item-pending {
  font-size: 16px;
  font-weight: 400;
}

.recent-payments-data li, .payments-error-data li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
  width: 100%;
}



.recent-payments-date, .times {
  float: right;
}

input[type="date"] {
  border-radius: 1px;
}