
.dropdown {
    width: 440px;
    position: relative;
    color: #8B8A8D;
  }
  .dropdown span {
    border-top: 1px solid #dddad6;
    border-left: 1px solid #dddad6;
    border-right: 1px solid #dddad6;
    border-bottom: 1px solid #dddad6;
    display: block;
    padding: .500em;
    z-index: 2;
    background: #F3F3F3;;
    color: #C9C7C7;
    position: relative;
    border-radius: 2px;

  }
  .dropdown span .down, .dropdown span .up {
    position: absolute;
    right: .150em;
  }
  .dropdown span .up {
    display: none;
  }

  .dropdown ul {
    max-height: 0px;
    overflow: hidden;
    background: white;
    border-left: 1px solid #dddad6;
    border-right: 1px solid #dddad6;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropdown ul li a {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: .500em .750em;
  }
  .dropdown ul li a:hover {
    background: #F4F2F1;
  }
  .dropdown:hover ul {
    display: block;
    max-height: 215px;
    transition: max-height 0.2s ease-in;
    border-bottom: 1px solid #dddad6;
  }
  /* .dropdown:hover .down {
    display: none;
  }
  .dropdown:hover .up {
    display: inline-block;
  } */

  .dropdown .focus {
    border-top: 1px solid #0000A0;
    border-left: 1px solid #0000A0;
    border-right: 1px solid #0000A0;
    border-bottom: 1px solid #0000A0;
  }

/* Dropdown half */
  .dropdown-half {
    width: 200px;
    position: relative;
    color: #8B8A8D;
  }
  .dropdown-half span {
    border-top: 1px solid #dddad6;
    border-left: 1px solid #dddad6;
    border-right: 1px solid #dddad6;
    border-bottom: 1px solid #dddad6;
    display: block;
    padding: .500em;
    z-index: 2;
    background: white;
    position: relative;
    border-radius: 2px;

  }
  .dropdown-half span .down, .dropdown-half span .up {
    position: absolute;
    right: .150em;
  }
  .dropdown-half span .up {
    display: none;
  }

  .dropdown-half ul {
    max-height: 0px;
    overflow: hidden;
    background: white;
    border-left: 1px solid #dddad6;
    border-right: 1px solid #dddad6;
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-half ul li a {
    color: inherit;
    display: block;
    text-decoration: none;
    padding: .500em .750em;
  }
  .dropdown-half ul li a:hover {
    background: #F4F2F1;
  }
  .dropdown-half:hover ul {
    display: block;
    max-height: 215px;
    transition: max-height 0.2s ease-in;
    border-bottom: 1px solid #dddad6;
  }
  .dropdown-half:hover .down {
    display: none;
  }
  .dropdown-half:hover .up {
    display: inline-block;
  }
  
  .dropdown-half .focus {
    border-top: 1px solid #0000A0;
    border-left: 1px solid #0000A0;
    border-right: 1px solid #0000A0;
    border-bottom: 1px solid #0000A0;
  }

  /* Font awesome */
  .fa-chevron-down, .fa-chevron-up {
    background: #F4F2F1;
    padding: 10px;
    position: relative;
    top: 2px;
  }
  .fa-chevron-disabled {
    background: rgba(230,228,227,0.5);
    padding: 10px;
    position: relative;
    top: 2px;
  }
  

  .dropdown .disabled {
    color:#8B8A8D;
    background: #8B8A8D;
  }