.sidebar {
    background: #fff;
}

small {
    font-size: 14px;
    color: #8B8A8D;
  }

nav ul li {
    padding: 15px 0 10px;
    color: #00075A;
    position: relative;
    top: 2px;
  }
nav ul li:after {
    position: absolute;
    content: '';
    border-bottom: 1px solid #d2d7da;
    width: 85%;
    bottom: -5px;
    left: 35px;
  }

